- @notes.each do |note|
	.card.blue-grey.darken-1
		.card-content.white-text
		%span= link_to note.title, note, class: "card-title"
		%p= time_ago_in_words(note.created_at)

= link_to "New Note", new_note_path