#note_title {
	font-size: large;
}

#note_content {
	border: none;
	min-height: 300px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.listcard {
	min-height: 200px;
	position: relative;
	width: 10%;
	margin: 1% 1%;
	display: block;
}
