#note_title {
	font-size: large;
}

#note_content {
	border: none;
	min-height: 300px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.listcard {
	min-height: 200px;
	position: relative;
	display: block;
	padding: 1%;
}

.listcard:hover{
	transform:scale(1.1,1.1);
	z-index: 10;
}

.updated-time {
	position: absolute;
	bottom: 0;
	padding: 10%;
}


